{% extends "base.html" %}

{% block header %}
<h1>Add Rules</h1>
{% endblock %}

{% block main_content %}
<form method=POST action="{{ url_for('index')}}">
    <table class="table-form">
      <tr><td><hr>Rule Information</td></tr>
      <tr>
        <td><label for="description">Enter rule description</label></td>
        <td><input type="text" name='description' id="description" value="{{ description }}" ></td> 
      </tr>
      <tr>
        <td>e.g. Introductory level sequence</td>
      </tr>
      
      <tr>
        <td><label for="op">How many courses are required for this rule?</label></td>
        <td><input type="text" name='op' id="op" value="{{ op }}" ></td>
      </tr>

      <tr>
        <td><label for="abbrev">Department Abbreviation</label></td>
        <td><input type="text" name='abbrev' id="abbrev" value="{{ abbrev }}" ></td>
        <td><label for="cnum">Course Number</label></td>
        <td><input type="text" name='cnum' id="cnum" value="{{ cnum }}" ></td>
        <td><input type="submit" name="submit" value="add"></td>
      </tr>
      
      <tr>
        <td><p>Courses counted: {{ arg }}</p></td>
      </tr>

      <tr><td><h2>Quick Add</h2></td></tr>

      <tr>
        <td><label for="abbrev_2">Dept. Abbreviation</label></td>
        <td><input type="text"  name='abbrev_2' id="abbrev_2" value="{{ abbrev_2 }}" placeholder="Start typing..."></td></tr>
      <tr>
        <td><input type="submit" name="submit" value="200-level"></td>
      </tr>

      <tr>
        <td><label for="abbrev_3">Dept. Abbreviation</label></td>
        <td><input type="text"  name='abbrev_3' id="abbrev_3" value="{{ abbrev_3 }}" placeholder="Start typing..."></td></tr>
      <tr>
        <td><input type="submit" name="submit" value="300-level"></td>
      </tr>

    </table>
</form>

<br><hr>

<h2>RESULTS</h2>
<p>{{ json }}</p>

<h2>200-level Test</h2>
<p>{{ two_levels }}</p>

<h2>300-level Test</h2>
<p>{{ three_levels }}</p>

{% endblock %}