<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>  -->
    <meta name=author content="Julie Lely & Eden Liu">
    <title>{{ page_title }}</title>
</head>
<body>

    <div>
        <h1>Select Department</h1>
        <form method="POST" action="{{ url_for('index') }}">
        <input id="deptName" name="deptName" placeholder="Type dept. abbreviation" list="departments" onkeyup="this.value = this.value.toUpperCase();">
            <datalist id="departments">
                {% for d in depts %}
                <option value="{{ d.upper() }}">
                {% endfor %}
            </datalist>
        <input type='submit' value='Edit Major'>
        </form>
       </div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{{url_for('static', filename = 'scripts/course-component.js')}}"></script>
<script src="{{url_for('static', filename = 'scripts/add-courses.js')}}"></script>
<script src="{{url_for('static', filename = 'scripts/display-rule.js')}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="https://cs.wellesley.edu/~anderson/js/bounds/bounds-plugin.js"></script>
<script src="https://cs.wellesley.edu/~cs204/assignments/project/example.js"></script> -->
</body>
</html>
