@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto';
    /* width: 80%; */
    margin: auto;
    margin-top: 54px; /* Change later */
}
h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

h2 {}

h3, label {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px;
}

.subheader {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #2B273C80;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px;
}

/* Containers */
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-inputs > * {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tooltip-header {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.requirement-container:first-child {
    display: flex;
    gap: 2px;
}

/* Forms */

input, select {
    border: 1px solid #BBBAC0;
    border-radius: 4px;
    padding: 10px;

    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.input-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.input-button input {
    width: 100%;
}

/* Components */
button {
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

    width: 110px;

    background-color: #002776;
    color: #FFF;

    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    border: none;

    white-space: nowrap;
}

.divider {
    border: 0.5px solid #E0E0E0;
    background: #E0E0E0;
    height: 700px;
}
/* Layout */
#add-rule-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 54px;
    width: 65%;
    margin: auto;

}

#add-rule-page section {
    width: 100%;
}

#courses-empty-state-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    align-items: center;  

    border: 1px dashed #BDBDBD;
    border-radius: 4px;
    padding: 36px;
}

.course-chip {
    padding: 6px 12px;
    background-color: #F2F2F2;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: max-content;
    border-radius: 4px;
}

.course-chip div {
    /* max-width: 38px; */
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
}

.course-chip-remove {
    height: 20px;
    width: 20px;
}

#added-courses-section, .rules-chip-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(100px, 1fr)); */
    /* column-gap: 8px; */
    grid-template-columns: auto auto auto auto;
    row-gap: 8px;
    column-gap: 8px;
}

.rules-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#rule-display-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* #added-courses-section > * {
    flex: 1 1 100px;
}  */

#submit-section {
    border-top: 1px solid #E0E0E0;
    box-shadow: 2px -2px 6px 0px #00000014;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 36px 0px;
}

#submit-section > div {
    display: flex;
    width: 65%;
    justify-content: flex-end;
}