<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>  -->
    <meta name=author content="Julie Lely & Eden Liu">
    <title>{{ page_title }}</title>
</head>
<body>

    <div id="add-rule-page">
        <section id="add-rule-container">
            <h1>Add Courses</h1>
            <div class="form-inputs">

                <div id="requirement-container">
                </div>

                <div>
                    <label for="rdesc">Add courses you’ve taken below</label>
                    <div class="input-button">
                        <input id="add-class" name="add-class" placeholder="e.g., CS 111" list="courses">
                        <datalist id="courses">
                            {% for c in courses %}
                            <option value="{{ c }}">
                            {% endfor %}
                        </datalist>
                        <button id="add-class-button">Add Class</button>
                    </div>
                </div>

                <div>
                    <h3>Your courses</h3>
                    <div id="added-courses-container">
                        <div id="courses-empty-state-container">
                            <h3>📚 Classes</h3>
                            <p class="subheader">Classes that you add above will appear here</p>
                        </div>
                        <div id="added-courses-section">
                        </div>
                    </div>
                </div>

                <button id="add-rule-button">Add Rule</button>
            </div>
        </section>
        <div class="divider"></div>
        <section id="rule-display">
            <h2>Existing rules</h2>
            
            <div id="rule-display-container">

            </div>

        </section>
    </div>

    <div id="submit-section">
        <div>
            <button id="submit-major">Submit</button>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{url_for('static', filename = 'scripts/course-component.js')}}"></script>
<script src="{{url_for('static', filename = 'scripts/display-rule.js')}}"></script>
<script src="{{url_for('static', filename = 'scripts/add-courses.js')}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="https://cs.wellesley.edu/~anderson/js/bounds/bounds-plugin.js"></script>
<script src="https://cs.wellesley.edu/~cs204/assignments/project/example.js"></script> -->
</body>
</html>
